<?xml version="1.0" encoding="utf-8"?>
  <manifest xmlns:android="http://schemas.android.com/apk/res/android">

      <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
      <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

      <application>
          <activity
              android:name=".discord.DiscordOAuthCallbackActivity"
              android:exported="true"
              android:noHistory="true"
              android:theme="@style/Theme.PixelMusic">
              <intent-filter>
                  <action android:name="android.intent.action.VIEW" />

                  <category android:name="android.intent.category.DEFAULT" />
                  <category android:name="android.intent.category.BROWSABLE" />

                  <data android:scheme="${discordRedirectScheme}" />
              </intent-filter>
          </activity>
      </application>

  </manifest>
  
